<main class="container">
  <section class="my-4">
    <div class="card mb-3 p-2">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{bike.coverImageUrl}}"
            alt="Trendy Pants and Shoes"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{bike.brand}} {{bike.modelType}}</h5>
            <hr />
            <p class="card-text">
              {{bike.description}}
            </p>
            <hr />
            <p class="card-text">
              <small class="text-muted"><strong>BRAND:</strong>
                {{bike.brand}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted"><strong>Model:</strong>
                {{bike.modelType}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted"><strong>FRAME:</strong>
                {{bike.frameSize}}
                inches</small>
            </p>
            <p class="card-text">
              <small class="text-muted"><strong>WHEEL:</strong>
                {{bike.wheelSize}}
                inches</small>
            </p>
          </div>
          <div class="d-flex flex-row flex-wrap justify-content-around py-4">
            <div class="badge bg-info fs-3 cost-badge mb-2">
              <h3>£{{bike.pricing.dailyPrice}}</h3>
              <div class="fs-6 text-muted">daily</div>
            </div>
            <div class="badge bg-info fs-3 cost-badge mb-2">
              <h3>£{{bike.pricing.weeklyPrice}}</h3>
              <div class="fs-6 text-muted">weekly</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Form to book a bike -->
  <section name="bike-form" id="bike-form">
    <div class="row justify-content-center">
      <div class="col-md-8 mb-4">
        <div class="card m-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Make your booking</h5>
          </div>
          <div class="card-body">
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <div class="mb-4">
                      <label for="selectPlan">Select plan
                        <span> * </span></label>
                      <select class="form-control" id="selectPlan">
                        <option>Weekly</option>
                        <option>Daily</option>
                      </select>
                    </div>
                    <div class="mb-4">
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      >
                        <option selected>Choose how long</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="3">Four</option>
                      </select>
                    </div>
                    <div class="mb-4">
                      <label class="form-label" for="rent-date">
                        Start date
                        <span> * </span></label>
                      <input
                        type="date"
                        id="rent-date"
                        class="form-control"
                        min="2022-07-14"
                        required=""
                      />
                    </div>
                    <!-- <div class="mb-3">
                          <label class="form-label" for="return-date"
                            >duration <span> * </span></label
                          >
                          <input
                            type="text"
                            id="return-date"
                            class="form-control"
                            min="2022-07-14"
                            required=""
                          />
                          </div>
                        </div> -->
                    <div class="mt-5 row justify-content-center">
                      <button type="submit" class="btn btn-secondary btn-lg">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Text input -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>