{{#if isLoggedIn }}
  {{> privateNavBar }}
{{else}}
  {{> publicNavBar }}
{{/if}}

<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3 m-5 background-img font-colour" 
style=" background-image: url('https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60');
    height: 400px; widith: 50%">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <h1 class="mb-3">View all our bikes</h1>
        <h3>See our exciting range of exclusive bikes</h3>
      </div>
    </div>
</div>

<section class="d-flex flex-wrap justify-content-evenly">

  {{#each bikes}}
    <div class="card m-3" style="width: 28rem">
      <img
        d-flex
        src="{{coverImageUrl}}"
        class="card-img-top bike-card-img bike-image"
        alt="{{brand}} {{modelType}}"
      />
      <div class="card-body">
        <h5 class="card-title">{{brand}} {{modelType}}</h5>
        <p class="card-text text-truncate">
          {{description}}
        </p>
      </div>

      <div class="d-flex flex-row flex-wrap justify-content-around py-4">
        <div class="badge bg-info fs-3 cost-badge mb-2">
          <h3>£{{pricing.dailyPrice}}</h3>
          <div class="fs-6 text-muted">daily</div>
        </div>
        <div class="badge bg-info fs-3 cost-badge mb-2">
          <h3>£{{pricing.weeklyPrice}}</h3>
          <div class="fs-6 text-muted">weekly</div>
        </div>
      </div>

      <div class="d-grid gap-2 col-6 mx-auto my-3">
        <a
          href="/bikes/{{id}}"
          class="btn btn-primary btn-lg"
          role="button"
          aria-disabled="true"
        >Book Now</a>
        <div id="error-text"></div>
      </div>

    </div>
  {{/each}}
</section>