<main>
  
    <header>
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-lock fa-fw me-3"></i><span>My Profile</span></a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Bookings</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Return a bike form </span>
            </a>

            </a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->



          
      
       
      
      <!-- Navbar -->
    </header>
   

    
    <section style="margin-top: 58px">
      
        <section class="container pt-4">
          <div class="card">
            <div class="card text-center">
              <div class="card-header">
                <h5>Bookings</h5>
              </div>
              <div class="card-body">
                <div class="card mb-3 p-2">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img
                        src="{{bike.coverImageUrl}}"
                        alt="Trendy Pants and Shoes"
                        class="img-fluid rounded-start"
                      />
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">
                          {{bike.brand}} {{bike.modelType}}
                        </h5>
                        <hr />
                        <p class="card-text">{{bike.description}}</p>
                        <hr />
                        <p class="card-text">
                          <small class="text-muted"
                            ><strong>BRAND:</strong> {{bike.brand}}</small
                          >
                        </p>
                        <p class="card-text">
                          <small class="text-muted"
                            ><strong>Model:</strong> {{bike.modelType}}</small
                          >
                        </p>
                        <p class="card-text">
                          <small class="text-muted"
                            ><strong>FRAME:</strong> {{bike.frameSize}}
                            inches</small
                          >
                        </p>
                        <p class="card-text">
                          <small class="text-muted"
                            ><strong>WHEEL:</strong> {{bike.wheelSize}}
                            inches</small
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex flex-row flex-wrap justify-content-around py-4"
                  >
                    <div class="badge bg-secondary fs-3 cost-badge mb-2">
                      <h3>Booking start date</h3>
                      <div class="fs-4 text-muted">19/07/2022</div>
                    </div>
                    <div class="badge bg-secondary fs-3 cost-badge mb-2">
                      <h3>Booking end date</h3>
                      <div class="fs-4 text-muted">25/07/2022</div>
                    </div>
                    <div class="badge bg-secondary fs-3 cost-badge mb-2">
                      <h3>duration</h3>
                      <div class="fs-4 text-muted">6 days</div>
                    </div>
                    <div class="badge bg-secondary fs-3 cost-badge mb-2">
                      <h3>cost</h3>
                      <div class="fs-4 text-muted">£120</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="container pt-4">
          <section class="mb-4">
            <div class="card">
              <div class="card-header text-center py-3">
              <h5 class="mb-0 text-center">
                <strong>All Bookings</strong>
              </h5>
              </div>
              <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                  <th scope="col"></th>
                  <th scope="col">Bike Name</th>
                  <th scope="col">Start date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Booking Duration</th>
                  <th scope="col">Total Price</th>
                  </tr>
                </thead>
                <tbody>
        
                  <!-- Booking 1 info -->
        
                  <tr>
                  <th scope="row">Booking 1</th>
                  <td>18,492</td>
                  <td>228</td>
                  <td>350</td>
                  <td>$4,787.64</td>
                  <td>$13.68</td>
                  </tr>
        
                  <!-- Booking 2 info -->
                  <tr>
                  <th scope="row">Boking 2</th>
                  <td>18,492</td>
                  <td>228</td>
                  <td>350</td>
                  <td>$4,787.64</td>
                  <td>$13.68</td>
                  </tr>
        
                  <!-- Booking 3 info -->
        
                  <tr>
                  <th scope="row">Booking 3</th>
                  <td>18,492</td>
                  <td>228</td>
                  <td>350</td>
                  <td>$4,787.64</td>
                  <td>$13.68</td>
                  </tr>
        
        
                  </tr>
                </tbody>
                </table>
              </div>
              </div>
            </div>
            </section>

      
        </section>
        </main>